.nav-background{
  background-color: #61CEE5;
}
.no-border{
  border-radius: 0 !important;
}
h1{
  color:#00558D;
}
.heading-container{
  position: absolute;
  top: 34%;
  left: 40%;
  font-weight: bold;
}
.promo-text{
  color:#00558C;
}

.featured-product{
  background-color: #9DDBE8;
}
.featured-product > img{
  width: 50%;
}
.btn{
  border-radius: 0 !important;
}
.btn-outline-light:hover{
  background: white;
  color: #9DDBE8;
}
.client-bg{
  background: linear-gradient(rgba(157, 221, 232, 0.644),rgba(157, 220, 232, 0.644)), url("../images/client-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.color-blue{
  color:#ABCFDC;
}

/* .overlay-blue{
  background: rgba(157, 220, 232, 0.301);
  position: absolute;
  width:100vw;
  height: auto;
} */

footer{
  background : #151515;
}
footer ul {
  color: rgba(255, 255, 255, 0.411);
  list-style-type: none;
}
.divider{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 225, 255, 0.16);
}
.divider-gray{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;border-top: 1px solid rgba(255, 255, 255, 0.16);
}
.cart-count{
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
}

.circle> img{
  border-radius: 100%;
  background: #9DDBE8;
  padding:10px
}

.height-150{
  height:150px
}
.height-200{
  height:200px
}
.height-250{
  height:250px
}

/* ========== SALE PAGE ============ */
.hero-container{

}
.divider-black{
  border-top-color: gray;
}
ul#categories_container{
  list-style-type: none;
  color: rgba(0, 0, 0, 0.753);
}
[role="button"]{
  cursor: pointer;
}
.category:hover{
  color: #9DDBE8 !important;
}
.product-heading{
  font-size: 5vh;  
}

.category-heading{
  font-size: 3vh;
  
}
.m-divider{
  height: 0;
  border-bottom: 1px solid gray;
  width: 20%;
}
.product-price{
  
}
/* ========== PRODUCT PAGE ===========   */
.breadcrumb-item + .breadcrumb-item::before 
{
    content: ' \203A' !important;
}
.rating{
  font-size: 1.5rem;
}

.accordion-bg{
  background: #42BED8!important;
}

.accordion-color{
  color:  #42BED8!important;
}
.circle{
  border-radius: 100%;
}
.no-border-radius{
  border-radius: 0!important;
}

.input-border-blue{
  border-color: #72D3E8 !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #42bed8 !important;
}

/* ============== CART PAGE ============= */
.cart-quantity-button{
  border-color: #42bfd862 !important;
}
.cart-quantity-button:hover{
  background-color: #42bed8 !important;
  outline-color: #42bed8 !important;
  
}

input.small-placeholder::-webkit-input-placeholder{
  font-size: small;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  

 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .nav-transparent{
    background: transparent;
    position: relative;
    z-index: 1;
  }
  .nav-header{
    position: relative;
    top: -72px;
  }

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .nav-transparent{
    background: transparent;
    position: relative;
    z-index: 1;
  }
  .nav-header{
    position: relative;
    top: -72px;
  }
  .first-products{
    position: relative;
    top: -85px;
  }

 }